.listItem {
  padding: 16px 20px;
  list-style-type: none
}

.separator {
  border: none;
  color: var(--color-border-light);
  background-color: var(--color-border-light);
  height: 1px;
  margin: 0 20px;
}
