.wrapper {
  position: relative;
}

.fadeEnter {
  opacity: 0;

  &.fadeEnterActive {
    opacity: 1;
    transition: opacity 0.2s;
  }
}

.fadeExit {
  opacity: 1;

  &.fadeExitActive {
    position: absolute;
    top: 0;
    width: 100%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.15s;
  }
}
