.wrapper {
  height: inherit;
  width: 80px;
  flex-shrink: 0;
  transition: width .2s ease;

  &.isShow {
    width: 240px;
  }

  &.isFullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    & > .nav {
      background: var(--color-lighter);
      border-right: 1px solid var(--color-dark);
    }
  
    &.isShow > .nav {
      width: 280px;
    }
  
    .list {
      padding-right: 20px;
    }
  }
}

.nav {
  position: fixed;
  display: block;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.list {
  padding: 14px 8px 14px 0;
}

.listItem {
  align-items: center;
  border-radius: 0 32px 32px 0;
  color: var(--color-darker);
  display: flex;
  flex-flow: row nowrap;
  font-weight: 500;
  margin-bottom: 12px;
  padding: 11px 11px 11px 31px;
  transition: color .2s, background .2s;

  &:hover,
  &:focus {
    color: var(--color-primary);

    & > .listIcon {
      fill: var(--color-primary);
    }
  }

  &:active {
    background: var(--color-accent-light);
    color: var(--color-accent);

    & > .listIcon {
      fill: var(--color-accent);
    }
  }

  &.isActive {
    background: var(--color-accent-light);
    color: var(--color-accent);

    & > .listIcon {
      fill: var(--color-accent);
    }
  }
}

.listIcon {
  display: block;
  fill: var(--color-darker);
  height: 24px;
  margin-right: 28px;
  min-width: 24px;
  transition: fill .2s;
  width: 24px;
}
