.header {
  align-items: center;
  background: var(--color-lighter);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-dark);
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  grid-area: header;
  padding: 0 20px;
}

.icon,
.sidebarIcon {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  fill: var(--color-darker);
  transition: fill .2s, background .2s;

  &:hover,
  &:focus {
    fill: var(--color-primary);
  }

  &:active {
    background: var(--color-accent-light);
    fill: var(--color-accent);
  }
}

.icon {
  height: 24px;
  margin-left: 12px;
  min-width: 24px;
  padding: 11px;
  width: 24px;

  &.isActive {
    fill: var(--color-accent);
  }
}

.sidebarIcon {
  height: 28px;
  min-width: 28px;
  padding: 9px;
  width: 28px;
}

.title {
  color: var(--color-darker);
  font-size: 1.65rem;
  font-weight: 500;
  margin: 0 32px 0 16px;
}

.titleHighlight {
  color: var(--color-accent);
  font-weight: 700;
}

.search {
  margin: 0 auto;
}

.iconsBox {
  display: flex;
  margin-left: 24px;
}

.syncLoader {
  width: 20px;
  height: 20px;
  padding: 13px;
  margin-left: 12px;
}

@media (max-width: 776px) {

  .header {
    flex-wrap: wrap;
    padding: 16px;
  }

  .search {
    align-self: flex-end;
    margin-top: 12px;
    order: 1;
  }

  .iconsBox {
    margin-left: auto;
  }

  .icon {
    margin-left: 0;
  }

  .title {
    margin-left: 12px;
    margin-right: 0;
  }
}
