.wrapper {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 360px;
  max-width: 420px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 16px 20px;
  margin: 12px 0;
}

.logo {
  margin-bottom: 20px;
}

.submitBtn {
  margin-top: 12px;
}
