.wrapper {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  top: 50%;
  left: 50%;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-width: 360px;
  max-width: 420px;
  margin: 0 auto;
  padding: 16px 20px;
  transform: translate(-50%, -50%);
}

.logo {
  display: block;
  width: 46px;
  margin-bottom: 16px;
  line-height: 46px;
  border: 3px solid var(--color-accent);
  color: var(--color-accent);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  border-radius: 50%;
}
