.main {
  background: var(--color-light);
  box-sizing: border-box;
  display: block;
  grid-area: main;
  padding: 25px 40px 40px;
  overflow-y: hidden;
}

@media (max-width: 776px) {
  .main {
    padding: 24px 0;
  }
}
