.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 20px 40px;
  font-size: 1.4rem;
}

.icon {
  margin-right: 8px;
  fill: var(--color-darker);
}

.link {
  color: var(--color-accent);

  &.isActive {
    font-weight: bold;
  }
}

.devider {
  color: var(--color-darker);
  margin: 0 8px;
}