.wrapper {
  position: relative;
  max-width: 640px;
  width: 100%;
  transition: width 0.15s;

  &.isCollapse {
    width: 46px;
    min-width: 46px;

    & > .input {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.input {
  height: 46px;
  background: var(--color-light);
  border-radius: 20px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--color-darker);
  font-family: inherit;
  font-size: 1.15rem;
  line-height: 1em;
  padding: 12px 48px 12px 48px;
  width: 100%;
  transition:
    0.15s color,
    0.15s box-shadow,
    0.15s visibility,
    0.15s opacity;
  border: 1px solid var(--color-light);

  &::placeholder {
    color: var(--color-darker);
    font-size: inherit;
  }

  &:hover,
  &:focus {
    color: var(--color-primary);
  }

  &.isActive {
    background: var(--color-lighter);
    box-shadow: 0 0 0 4px var(--color-accent-light);
    border-color: var(--color-accent);
  }
}

.icon {
  top: 0;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--color-darker);
  height: 24px;
  padding: 11px;
  position: absolute;
  transition: fill .2s, background .2s;
  width: 24px;

  &:hover {
    fill: var(--color-primary);
  }

  &:active,
  &:focus {
    background: var(--color-accent-light);
    fill: var(--color-accent);
  }
}

.searchIcon {
  left: 0;
}

.clearIcon {
  right: 0;
}

@media (max-width: 776px) {

  .wrapper {
    max-width: none;
  }

  .input {
    max-width: none;
  }
}
