.wrapper {
  position: relative;
  max-width: 640px;
  width: 100%;
  transition: width 0.15s;

  &.isCollapse {
    width: 46px;
    min-width: 46px;

    & > .input {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.input {
  padding: 12px 48px;
}

.icon {
  top: 0;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--color-darker);
  height: 24px;
  padding: 11px;
  position: absolute;
  transition: fill .2s, background .2s;
  width: 24px;

  &:hover {
    fill: var(--color-primary);
  }

  &:active,
  &:focus {
    background: var(--color-accent-light);
    fill: var(--color-accent);
  }
}

.searchIcon {
  left: 0;
}

.clearIcon {
  right: 0;
}
